*{
    font-family: 'Noto Sans';
    margin: 0;
    padding: 0;
}

/* Header */

header{
    text-align: center;
    height: 10vh;
}

#map {
    height: 90vh;  /* z. B. 500px Höhe */
    width: 100vw;    /* volle Breite */
}

#infobox {
    height: 30vh;
    width: 100vw;
    background-color: white;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
    border-radius: 25px 25px 0 0;
}

#bikeChart {
    width: 90%;
    height: 90%;
}

.material-symbols-outlined {
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgba(41, 41, 41, 0.6);
}