*{
    font-family: 'Noto Sans';
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    height: 10vh;
}

#map {
    height: 70vh;  /* z. B. 500px Höhe */
    width: 100vw;    /* volle Breite */
}

#infobox {
    height: 25vh;
    width: 100vw;
    background-color: white;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bikeChart {
    width: 90%;
    height: 90%;
}